/* search for "||" to jump between sections */
/* SECTIONS: general styles, sitewide, store pages 
(welcome-message, character-container, actions, end-game), media query */


/* || GENERAL STYLES */

@font-face {
    font-family: "MedievalSharp";
    src: url("fonts/MedievalSharp-Book.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "MedievalSharp";
    src: url("fonts/MedievalSharp-Bold.ttf") format("truetype");
    font-weight: bold;
}

* {
    box-sizing: border-box;
    touch-action: manipulation;
}


/* || SITEWIDE */

body {
    --inner-vh: 100%;
    --gap: 4vw;
    margin: 0;
    padding: var(--gap);
    height: calc(var(--inner-vh) * 100);
    /* position: fixed;  height: 100%; width: 100%;; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: var(--gap);
    /* background: #332B37; */
    background: linear-gradient(#332B37, #4A444C, #332B37);
    font-family: 'MedievalSharp', cursive;
    color: #F4F4F4;
    text-align: center;
    letter-spacing: 1px;
}

main {
    padding: 0;
    display: flex;
    gap: var(--gap);
    justify-content: space-evenly;
}


/* || STORE PAGES */

/* welcome-message */

#welcome-message h2 {
    font-size: clamp(1rem, 3.15vmax, 2.75rem);
    margin: 0 auto;
}

#welcome-message p {
    font-size: clamp(0.8rem, 2.5vmax, 1.75rem);
    margin: 1em auto 0;
}


/* character-container */
.char-container {
    display: flex;
    flex-grow: 1;
    gap: var(--gap);
}

#hero,
#monster {
    margin: 0 auto;
    padding: 0;
    border-radius: 0.875rem;
    border: 0.125rem solid #000721;
    box-shadow: inset 0 0 0.75rem #585858,
                0 0 0.75rem #ACACAC;
    background: #231d24;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choose-hero #hero,
.choose-hero #monster {
    cursor: pointer;
}

.choose-hero #hero:hover,
.choose-hero #monster:hover,
.choose-hero #hero:active,
.choose-hero #monster:active {
    box-shadow: inset 0 0 0.75rem #585858,
                0 0 1rem #CAE6EF;
}

.char-name {
    margin: 0;
    padding: 2.5vh 0 1.5vh;
    font-size: clamp(1rem, 3.25vmax, 2.75rem);
    letter-spacing: 0.08em;
}

.char-avatar-container {
    align-self: center;
    margin: auto 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 60%;
    opacity: 0.8;
}

.char-avatar {
    min-height: 50px;
    max-width: 300px;
    flex-grow: 1;
    aspect-ratio: 1;
    border: 2px solid #000721;
    border-radius: 0.625rem;
    background-color: #000721;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.health,
.health-bar-outer {
    width: 90%;
    max-width: 250px;
}

.health {
    margin: clamp(0.5rem, 1vh, 20px) auto clamp(0.25rem, 0.5vh, 1rem);
    text-align: left;
    font-size: clamp(0.9rem, 5vh, 1.525rem);
    color:#ccc;
}

.health-bar-outer,
.health-bar-inner {
    border-radius: 2px;
}

.health-bar-outer {
    margin: 0 auto clamp(10px, 1vmax, 20px);
    background: #171217;
}

.health-bar-inner {
    background: #466d34;
    height: clamp(4px, 0.75vh, 8px);
}

.danger {
    background: #d1435f;
}

.dice-container {
    align-self: flex-end;
    width: 100%;
    padding: 10px 2vw;
    background: #000721;
    border-bottom-left-radius: 0.875rem;
    border-bottom-right-radius: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

.dice, .dice-placeholder {
    aspect-ratio: 1;
    border-radius: 5px;
    background: transparent;
    line-height: 6vh;
}

.dice-placeholder {
    border: 1px solid #666;
}

.dice {
    opacity: 0.8;
}


/* actions */
#actions {
    display: flex;
}

button {
    box-shadow: 0px 6px 10px -4px rgba(0,0,0,0.4);
    margin: 0 auto;
    padding-left: 6vw;
    padding-right: 6vw;
    background-color: #fcc02a;
    border: 2px solid #963404;
    border-radius: 6px;
    outline: none;
    text-decoration: none;
    display: block;
    font-family: "MedievalSharp";
    font-size: clamp(1rem, 6vh, 1.5rem);
    color:#963404;
    letter-spacing: 1.25px;
    line-height: 2;
    cursor: pointer;
}

button:disabled {
    opacity: 50%;
    cursor: not-allowed;
}

#play-again-btn {
    display: none;
    background-color: #963404;
    border: 2px solid #fcc02a;
    color: #fcc02a;
}


/* end-game */
body.body-game-over {
    justify-content: center;
}

body.body-game-over main {
    flex-grow: 0;
}

#end-game {
    display: none;
    font-size: 1.5rem;
}

#game-over {
    margin: 0.4em;
}

.end-message {
    font-size: 1.25rem;
}

.end-emoji {
    font-size: 3.75rem;
    margin: 1rem 0 0;
    line-height: 3.75rem;
}


/* MEDIA QUERY */
@media (orientation: portrait) {
    main {
        width: 100%;
        max-width: 600px;
        flex-direction: column;
        flex-grow: 1;
    }
    
    #hero,
    #monster {
        max-height: 560px;
        flex-basis: calc(50% - var(--gap));
        flex-grow: 1;
        flex-shrink: 0;
    }

    .dice, .dice-placeholder {
        width: clamp(20px, 6vh, 50px);
    }
}

@media (max-width: 600px), (orientation: portrait) {
    body {
        justify-content: space-evenly;
        --gap: 6vw;
    }

    #welcome-message {
        padding-top: 0;
    }

    .char-container {
        flex-direction: column;
    }
    .char-avatar-container {
        flex-grow: 1;
    }

    #actions {
        line-height: 1;
        align-self: flex-end;
        margin: 0 auto;
    }
}

@media (orientation: landscape) {
    main {
        width: 100%;
        flex-direction: column;
        flex-grow: 1;
    }
    .char-container {
        flex-direction: row;
        max-height: 550px;
    }
    #hero,
    #monster {
        flex-basis: calc(50% - var(--gap));
        flex-grow: 1;
        flex-shrink: 0;
    }
    .dice, .dice-placeholder {
        width: clamp(20px, 10vh, 50px);
    }
}
